venv/
data/raw/*.csv
data/processed/*.csv
.DS_Store
__pycache__/
checkpoint-17500/
models/saved/bert/model.safetensors
models/saved/toxic_bert/model.safetensors
# models/saved/toxic_bert
checkpoint-48000/
plan.txt
models/saved/Qwen3-4B-Thinking-2507-MLX-4bit